In [61]:
import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib
matplotlib.rcParams["figure.figsize"]= (20, 10)

In [62]:
from sklearn.preprocessing import LabelEncoder

In [63]:
df= pd.read_csv('bengaluru_house_prices.csv')

In [64]:
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

##### Data Preprocessing

In [65]:
cols_to_drop= ['society', 'availability']

for col in cols_to_drop:
    if col in df.columns:
        df.drop(col, axis= 'columns', inplace= True)

In [66]:
df.head()

,area_type,location,size,total_sqft,bath,balcony,price
0,Super built-up Area,Electronic City Phase II,2 BHK,1056,2.0,1.0,39.07
1,Plot Area,Chikka Tirupathi,4 Bedroom,2600,5.0,3.0,120.00
2,Built-up Area,Uttarahalli,3 BHK,1440,2.0,3.0,62.00
3,Super built-up Area,Lingadheeranahalli,3 BHK,1521,3.0,1.0,95.00
4,Super built-up Area,Kothanur,2 BHK,1200,2.0,1.0,51.00

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   area_type   13320 non-null  object
 1   location    13319 non-null  object
 2   size        13304 non-null  object
 3   total_sqft  13320 non-null  object
 4   bath        13247 non-null  float64
 5   balcony     12711 non-null  float64
 6   price       13320 non-null  float64
dtypes: float64(3), object(4)
memory usage: 728.6+ KB

In [68]:
df= df.dropna()

In [69]:
df['bhk']= df['size'].apply(lambda x: int(x[0]))

In [70]:
df.drop(['size'], axis= 'columns', inplace= True)

In [71]:
df['location'].unique()

array(['Electronic City Phase II', 'Chikka Tirupathi', 'Uttarahalli', ...,
       '12th cross srinivas nagar banshankari 3rd stage',
       'Havanur extension', 'Abshot Layout'], dtype=object)

In [72]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12710 entries, 0 to 13319
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   area_type   12710 non-null  object
 1   location    12710 non-null  object
 2   total_sqft  12710 non-null  object
 3   bath        12710 non-null  float64
 4   balcony     12710 non-null  float64
 5   price       12710 non-null  float64
 6   bhk         12710 non-null  int64
dtypes: float64(3), int64(1), object(3)
memory usage: 794.4+ KB

In [73]:
def handle_ranges(x):
    tokens = x.split('-')

    if len(tokens) == 2:
        try:
            return (float(tokens[0]) + float(tokens[1])) / 2.0
        except ValueError:
            return None  # Handle the case where conversion to float fails
    else:
        x = x.strip()  # Remove leading and trailing whitespaces
        try:
            return float(x)
        except ValueError:
            return None

# Apply the function to the 'total_sqft' column
df['total_sqft'] = df['total_sqft'].apply(handle_ranges)

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12710 entries, 0 to 13319
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   area_type   12710 non-null  object
 1   location    12710 non-null  object
 2   total_sqft  12668 non-null  float64
 3   bath        12710 non-null  float64
 4   balcony     12710 non-null  float64
 5   price       12710 non-null  float64
 6   bhk         12710 non-null  int64
dtypes: float64(4), int64(1), object(2)
memory usage: 794.4+ KB

In [75]:
df= df.dropna()

##### Feature Engineering

In [76]:
df['price_per_sqft']= (df['price']*100000)/df['total_sqft']

In [77]:
df['location']= df['location'].apply(lambda x: x.strip())

In [78]:
location_stats= df.groupby('location')['location'].agg('count').sort_values(ascending= False)

In [79]:
location_less_than_10=  location_stats[location_stats<= 10]
location_less_than_10

location
Nagappa Reddy Layout    10
Thyagaraja Nagar        10
Ganga Nagar             10
Naganathapura           10
Dairy Circle            10
                        ..
1 Giri Nagar             1
Kanakapura  Rod          1
Kanakapura Main Road     1
Kanakapura Road          1
whitefiled               1
Name: location, Length: 1013, dtype: int64

In [80]:
df['location']= df['location'].apply(lambda x: 'other' if x in location_less_than_10 else x)

In [81]:
df.head()

,area_type,location,total_sqft,bath,balcony,price,bhk,price_per_sqft
0,Super built-up Area,Electronic City Phase II,1056.0,2.0,1.0,39.07,2,3699.810606
1,Plot Area,Chikka Tirupathi,2600.0,5.0,3.0,120.00,4,4615.384615
2,Built-up Area,Uttarahalli,1440.0,2.0,3.0,62.00,3,4305.555556
3,Super built-up Area,Lingadheeranahalli,1521.0,3.0,1.0,95.00,3,6245.890861
4,Super built-up Area,Kothanur,1200.0,2.0,1.0,51.00,2,4250.000000

##### Outlier removal

In [82]:
df= df[(df['total_sqft']/df['bhk'])>300]

In [83]:
df.drop(['price_per_sqft'], axis= 'columns', inplace= True)

In [84]:
object_columns = df.select_dtypes(include='object').columns

In [85]:
object_columns

Index(['area_type', 'location'], dtype='object')

In [86]:
label_mappings= {}
for col in object_columns:
    le= LabelEncoder()

    df[col+'_le']= le.fit_transform(df[col])

    label_mappings[col]= dict(zip(le.classes_, le.transform(le.classes_)))
    df.drop(col, axis= 'columns', inplace= True)

In [87]:
label_mappings

{'area_type': {'Built-up  Area': 0,
  'Carpet  Area': 1,
  'Plot  Area': 2,
  'Super built-up  Area': 3},
 'location': {'1st Block Jayanagar': 0,
  '1st Phase JP Nagar': 1,
  '2nd Phase Judicial Layout': 2,
  '2nd Stage Nagarbhavi': 3,
  '5th Phase JP Nagar': 4,
  '6th Phase JP Nagar': 5,
  '7th Phase JP Nagar': 6,
  '8th Phase JP Nagar': 7,
  '9th Phase JP Nagar': 8,
  'AECS Layout': 9,
  'Abbigere': 10,
  'Akshaya Nagar': 11,
  'Ambalipura': 12,
  'Ambedkar Nagar': 13,
  'Amruthahalli': 14,
  'Anandapura': 15,
  'Ananth Nagar': 16,
  'Anekal': 17,
  'Anjanapura': 18,
  'Ardendale': 19,
  'Arekere': 20,
  'Attibele': 21,
  'BEML Layout': 22,
  'BTM 2nd Stage': 23,
  'BTM Layout': 24,
  'Babusapalaya': 25,
  'Badavala Nagar': 26,
  'Balagere': 27,
  'Banashankari': 28,
  'Banashankari Stage II': 29,
  'Banashankari Stage III': 30,
  'Banashankari Stage V': 31,
  'Banashankari Stage VI': 32,
  'Banaswadi': 33,
  'Banjara Layout': 34,
  'Bannerghatta': 35,
  'Bannerghatta Road': 36,
  'Basavangudi': 37,
  'Basaveshwara Nagar': 38,
  'Battarahalli': 39,
  'Begur': 40,
  'Begur Road': 41,
  'Bellandur': 42,
  'Benson Town': 43,
  'Bharathi Nagar': 44,
  'Bhoganhalli': 45,
  'Billekahalli': 46,
  'Binny Pete': 47,
  'Bisuvanahalli': 48,
  'Bommanahalli': 49,
  'Bommasandra': 50,
  'Bommasandra Industrial Area': 51,
  'Bommenahalli': 52,
  'Brookefield': 53,
  'Budigere': 54,
  'CV Raman Nagar': 55,
  'Chamrajpet': 56,
  'Chandapura': 57,
  'Channasandra': 58,
  'Chikka Tirupathi': 59,
  'Chikkabanavar': 60,
  'Chikkalasandra': 61,
  'Choodasandra': 62,
  'Cooke Town': 63,
  'Cox Town': 64,
  'Cunningham Road': 65,
  'Dasanapura': 66,
  'Dasarahalli': 67,
  'Devanahalli': 68,
  'Devarachikkanahalli': 69,
  'Dodda Nekkundi': 70,
  'Doddakallasandra': 71,
  'Doddathoguru': 72,
  'Domlur': 73,
  'Dommasandra': 74,
  'EPIP Zone': 75,
  'Electronic City': 76,
  'Electronic City Phase II': 77,
  'Electronics City Phase 1': 78,
  'Frazer Town': 79,
  'GM Palaya': 80,
  'Garudachar Palya': 81,
  'Giri Nagar': 82,
  'Gollarapalya Hosahalli': 83,
  'Gottigere': 84,
  'Green Glen Layout': 85,
  'Gubbalala': 86,
  'Gunjur': 87,
  'HBR Layout': 88,
  'HRBR Layout': 89,
  'HSR Layout': 90,
  'Haralur Road': 91,
  'Harlur': 92,
  'Hebbal': 93,
  'Hebbal Kempapura': 94,
  'Hegde Nagar': 95,
  'Hennur': 96,
  'Hennur Road': 97,
  'Hoodi': 98,
  'Horamavu Agara': 99,
  'Horamavu Banaswadi': 100,
  'Hormavu': 101,
  'Hosa Road': 102,
  'Hosakerehalli': 103,
  'Hoskote': 104,
  'Hosur Road': 105,
  'Hulimavu': 106,
  'ISRO Layout': 107,
  'ITPL': 108,
  'Iblur Village': 109,
  'Indira Nagar': 110,
  'JP Nagar': 111,
  'Jakkur': 112,
  'Jalahalli': 113,
  'Jalahalli East': 114,
  'Jigani': 115,
  'Judicial Layout': 116,
  'KR Puram': 117,
  'Kadubeesanahalli': 118,
  'Kadugodi': 119,
  'Kaggadasapura': 120,
  'Kaggalipura': 121,
  'Kaikondrahalli': 122,
  'Kalena Agrahara': 123,
  'Kalyan nagar': 124,
  'Kambipura': 125,
  'Kammanahalli': 126,
  'Kammasandra': 127,
  'Kanakapura': 128,
  'Kanakpura Road': 129,
  'Kannamangala': 130,
  'Karuna Nagar': 131,
  'Kasavanhalli': 132,
  'Kasturi Nagar': 133,
  'Kathriguppe': 134,
  'Kaval Byrasandra': 135,
  'Kenchenahalli': 136,
  'Kengeri': 137,
  'Kengeri Satellite Town': 138,
  'Kereguddadahalli': 139,
  'Kodichikkanahalli': 140,
  'Kodigehaali': 141,
  'Kodihalli': 142,
  'Kogilu': 143,
  'Konanakunte': 144,
  'Koramangala': 145,
  'Kothannur': 146,
  'Kothanur': 147,
  'Kudlu': 148,
  'Kudlu Gate': 149,
  'Kumaraswami Layout': 150,
  'Kundalahalli': 151,
  'LB Shastri Nagar': 152,
  'Laggere': 153,
  'Lakshminarayana Pura': 154,
  'Lingadheeranahalli': 155,
  'Magadi Road': 156,
  'Mahadevpura': 157,
  'Mahalakshmi Layout': 158,
  'Mallasandra': 159,
  'Malleshpalya': 160,
  'Malleshwaram': 161,
  'Marathahalli': 162,
  'Margondanahalli': 163,
  'Marsur': 164,
  'Mico Layout': 165,
  'Munnekollal': 166,
  'Murugeshpalya': 167,
  'Mysore Road': 168,
  'NGR Layout': 169,
  'NRI Layout': 170,
  'Nagarbhavi': 171,
  'Nagasandra': 172,
  'Nagavara': 173,
  'Nagavarapalya': 174,
  'Narayanapura': 175,
  'Neeladri Nagar': 176,
  'OMBR Layout': 177,
  'Old Airport Road': 178,
  'Old Madras Road': 179,
  'Padmanabhanagar': 180,
  'Pai Layout': 181,
  'Panathur': 182,
  'Parappana Agrahara': 183,
  'Pattandur Agrahara': 184,
  'Poorna Pragna Layout': 185,
  'Prithvi Layout': 186,
  'R.T. Nagar': 187,
  'Rachenahalli': 188,
  'Raja Rajeshwari Nagar': 189,
  'Rajaji Nagar': 190,
  'Rajiv Nagar': 191,
  'Ramagondanahalli': 192,
  'Ramamurthy Nagar': 193,
  'Rayasandra': 194,
  'Sahakara Nagar': 195,
  'Sanjay nagar': 196,
  'Sarakki Nagar': 197,
  'Sarjapur': 198,
  'Sarjapur  Road': 199,
  'Sarjapura - Attibele Road': 200,
  'Sector 2 HSR Layout': 201,
  'Sector 7 HSR Layout': 202,
  'Seegehalli': 203,
  'Shampura': 204,
  'Shivaji Nagar': 205,
  'Singasandra': 206,
  'Somasundara Palya': 207,
  'Sompura': 208,
  'Sonnenahalli': 209,
  'Subramanyapura': 210,
  'Sultan Palaya': 211,
  'TC Palaya': 212,
  'Talaghattapura': 213,
  'Thanisandra': 214,
  'Thigalarapalya': 215,
  'Thubarahalli': 216,
  'Tindlu': 217,
  'Tumkur Road': 218,
  'Ulsoor': 219,
  'Uttarahalli': 220,
  'Varthur': 221,
  'Varthur Road': 222,
  'Vasanthapura': 223,
  'Vidyaranyapura': 224,
  'Vijayanagar': 225,
  'Vishveshwarya Layout': 226,
  'Vishwapriya Layout': 227,
  'Vittasandra': 228,
  'Whitefield': 229,
  'Yelachenahalli': 230,
  'Yelahanka': 231,
  'Yelahanka New Town': 232,
  'Yelenahalli': 233,
  'Yeshwanthpur': 234,
  'other': 235}}

In [88]:
df.head()

   total_sqft  bath  balcony   price  bhk  area_type_le  location_le
0      1056.0   2.0      1.0   39.07    2             3           77
1      2600.0   5.0      3.0  120.00    4             2           59
2      1440.0   2.0      3.0   62.00    3             0          220
3      1521.0   3.0      1.0   95.00    3             3          155
4      1200.0   2.0      1.0   51.00    2             3          147

In [89]:
df.to_csv('final_dataset.csv')